@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body::-webkit-scrollbar {
    width: 0.4em;
}

body::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    outline: none;
    border: none;
}

body::-webkit-scrollbar-thumb {
    background-color: #0093E9;
    background-image: -webkit-linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-image: -moz-linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-image: -o-linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    border-radius: 10px;
}

body{
    overflow-x: hidden;
}